body{
    background-color: #67F2A7 !important;
}
.container{
    min-height: 100vh;
    background-color: #67F2A7 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz-card{
    width: 30rem !important;
}
.question-footer{
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
}